<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO"/>
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
    <uses-permission android:name="android.permission.ACCELEROMETER"/>
    <uses-permission android:name="android.permission.GYROSCOPE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE"/>
<!--    <uses-permission android:name="android.permission.BODY_SENSORS"/>-->
    <uses-feature android:name="android.hardware.sensor.accelerometer"/>
    <uses-feature android:name="android.hardware.sensor.gyroscope"/>
    <uses-feature android:name="android.hardware.sensor.body_sensor"/>
<!--    <uses-feature android:name="android.permission.FOREGROUND_SERVICE_HEALTH"/>-->
<!--    <uses-feature android:name="android.permission.HIGH_SAMPLING_RATE_SENSORS"/>-->
<!--    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_HEALTH" />-->
<!--    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />-->
<!--    <uses-permission android:name="android.permission.BODY_SENSORS" />-->


    <application
        android:allowBackup="true"
        android:name=".PlayerApp"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name=".player.PlaybackService"
            android:foregroundServiceType="mediaPlayback"
            android:exported="true">
            <intent-filter>
                <action android:name="androidx.media3.session.MediaSessionService"/>
            </intent-filter>
        </service>
        <service
            android:name=".SensorService"
            android:foregroundServiceType="specialUse"
            android:exported="true">
        </service>

    </application>

</manifest>